@use "../../../../app/scss/variables" as *;

select {
  background: none;
  padding: 5px 15px;
  color: $dark;
  background-color: $light;
  border: none;
  border-radius: 20px;

  option {
    background-color: $light;
  }
}
