@use "./variables" as *;

.about-container {
  width: 100vw;
  padding: 0 4vw;
  margin: 50px 0;

  .sahil-info-container {
    position: relative;
    width: 100%;
    height: 100%;

    .info-container {
      .info-top {
        display: flex;
        flex-direction: column;

        .info {
          color: $darkBlue;
        }

        .left {
          font-size: 1.8rem;
          line-height: 1.2;

          .hello {
            font-family: $soria;
            font-size: 2.2rem;
            line-height: 0.8;
          }

          .features {
            font-size: 1rem;
            text-transform: uppercase;
            margin: 10px 0;
            color: $dark;
          }

          span {
            color: $red;
          }
        }

        .right {
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }

      .bio-container {
        margin-top: 460px;
        color: $darkBlue;
        padding-left: 10px;

        ul {
          list-style: disc;

          li {
            font-size: 0.9rem;
            font-family: $helvetica-medium;
            text-transform: uppercase;
            line-height: 1.4;
          }
        }
      }
    }

    .sahil-mask-container {
      position: absolute;
      top: 260px;
      width: calc(100vw - 6vw);
      height: calc(100vw - 6vw);
      display: flex;
      justify-content: center;
      align-items: center;

      .img-container {
        position: relative;
        width: 90%;
        height: 90%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  .about-container {
    margin: 100px 0;

    .sahil-info-container {
      .info-container {
        .info-top {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;

          .info {
            width: 48%;
          }

          .right {
            margin-top: 35px;
          }
        }

        .bio-container {
          margin-top: 900px;

          ul {
            li {
              font-size: 1rem;
            }
          }
        }
      }

      .sahil-mask-container {
        position: absolute;
        top: 150px;

        .img-container {
          width: 80%;
          height: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  .about-container {
    margin: 0;
    height: 100vh;

    .sahil-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info-container {
        width: auto;
        width: 58vw;

        .info-top {
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;

          .info {
            width: 46%;
          }

          .right {
            margin-top: 35px;
          }
        }

        .bio-container {
          margin: 0;
          margin-top: 20px;
          border-top: 1px solid $dark;
          padding: 20px;
          width: auto;

          ul {
            li {
              font-size: 1rem;
            }
          }
        }
      }

      .sahil-mask-container {
        position: relative;
        margin: 0;
        width: auto;
        height: fit-content;
        top: 0;

        .img-container {
          width: 360px;
          height: 360px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    margin: 0;
    height: 100vh;
    padding: 0 8vw;

    .sahil-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info-container {
        width: auto;
        width: 50vw;

        .info-top {
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;

          .info {
            width: 46%;
          }

          .left {
            font-size: 1.8rem;
          }

          .right {
            margin-top: 35px;
          }
        }

        .bio-container {
          margin: 0;
          margin-top: 20px;
          border-top: 1px solid $dark;
          padding: 20px;
          width: auto;
          position: relative;

          ul {
            li {
              font-size: 1rem;
            }
          }
        }
      }

      .sahil-mask-container {
        position: relative;
        margin: 0;
        width: auto;
        height: fit-content;
        top: 0;

        .img-container {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}
