@use "./variables" as *;

header {
  position: relative;
  z-index: 999;
  width: 100vw;
  height: 80px;
  padding: 0 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .img-container {
      display: none;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      overflow: hidden;
    }

    h2 {
      width: min-content;
      font-family: $helvetica-medium;
      font-size: 1.2rem;
      line-height: 1;
      color: $dark;
    }
  }

  .menu-container {
    .menu {
      ul {
        display: flex;
        gap: 15px;

        li {
          flex-direction: column;
          gap: 2px;

          .dot-container {
            .dot {
              width: 20px;
              height: 20px;
              background-color: $dark;
              border-radius: 100px;
              transform: scale(0);
              transition: all 100ms cubic-bezier(0.76, 0, 0.24, 1);
            }
          }
          a {
            color: $dark;
            font-size: 1rem;
            transition: color 100ms cubic-bezier(0.76, 0, 0.24, 1);
            cursor: pointer;
          }

          &:hover {
            .dot-container {
              .dot {
                background-color: $blue;
                transition: all 200ms cubic-bezier(0.76, 0, 0.24, 1);
                border-radius: 0px;
                transform: scale(1);
              }
            }

            a {
              color: $blue;
              transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  header {
    height: 100px;

    .logo {
      gap: 15px;

      .img-container {
        display: block;
        width: 60px;
        height: 60px;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .menu-container {
      .menu {
        ul {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  header {
    height: 100px;

    .logo {
      gap: 15px;

      .img-container {
        display: block !important;
        width: 60px;
        height: 60px;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .menu-container {
      .menu {
        ul {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  header {
    position: relative;
    z-index: 999;
    width: 100vw;
    height: 100px;
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;

    animation: fadeDown 500ms ease-in-out 3s forwards;

    @keyframes fadeDown {
      0% {
        top: -100px;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 15px;

      .img-container {
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 100px;
        overflow: hidden;
      }

      h2 {
        color: $dark;
        font-family: $helvetica-medium;
        font-size: 1.8rem;
        width: min-content;
        line-height: 0.9;
      }
    }

    .menu-container {
      display: flex;
      align-items: center;
      gap: 20px;

      .menu {
        ul {
          display: flex;
          gap: 20px;

          li {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .dot-container {
              .dot {
                width: 20px;
                height: 20px;
                background-color: $dark;

                border-radius: 100px;
                transform: scale(0);
                transition: all 100ms cubic-bezier(0.76, 0, 0.24, 1);
              }
            }
            a {
              color: $dark;
              font-size: 1rem;
              transition: color 100ms cubic-bezier(0.76, 0, 0.24, 1);
              cursor: pointer;
            }

            &:hover {
              .dot-container {
                .dot {
                  background-color: $blue;
                  transition: all 200ms cubic-bezier(0.76, 0, 0.24, 1);
                  border-radius: 0px;
                  transform: scale(1);
                }
              }

              a {
                color: $blue;
                transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1);
              }
            }
          }
        }
      }
    }
  }
}
