@use "./variables" as *;

.hero-container {
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 0 6vw;

  .container {
    width: 100%;
    height: 100%;

    .headline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      height: 50%;
      position: relative;
      font-family: $soria;
      z-index: 2;
      font-size: 2.6rem;
      line-height: 1;
      text-transform: capitalize;
      opacity: 0;

      .line-first {
        width: 60%;
      }

      .line-second {
        width: 60%;
        align-self: flex-end;

        .textTwo {
          text-align: right !important;

          .pink {
            color: $pink;
          }
        }
      }

      animation: fadeUp 1s ease-in-out 3s forwards;

      @keyframes fadeUp {
        0% {
          transform: translateY(200px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    .star-main {
      width: 100%;
      height: 200%;
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      z-index: 0;
      overflow-x: hidden;

      .star-container {
        position: absolute;
        width: 550px;
        height: 550px;
        left: 50%;
        top: 15%;
        transform: translate(-50%);

        .star {
          fill: $yellow;

          animation: rotate 50s linear infinite forwards;

          @keyframes rotate {
            0% {
              transform: rotate(0);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .men-container {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;
      opacity: 0;

      .img-container {
        position: absolute;
        width: calc(100vw - 6vw);
        height: calc(100vw - 6vw);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        img {
          filter: saturate(0.5);
        }
      }

      animation: fadeUp 1s ease-in-out 3.5s forwards;

      @keyframes fadeUp {
        0% {
          top: 400px;
          opacity: 0;
        }
        100% {
          top: 0px;
          opacity: 1;
        }
      }
    }
  }

  .scroll-info {
    width: 100%;
    padding: 0 10vw;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  .hero-container {
    .container {
      .headline {
        font-size: 4.8rem;
        .textOne {
          width: 40%;
        }
        .line-second {
          width: 40%;
          margin-top: -100px;
        }
      }

      .star-main {
        .star-container {
          width: 1400px;
          height: 1400px;
          left: 50%;
          top: 5%;
          transform: translate(-50%);
        }
      }

      .men-container {
        .img-container {
          width: calc(100vw - 18vw);
          height: calc(100vw - 18vw);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  .hero-container {
    .container {
      .headline {
        font-size: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        padding: 0 0;

        .textOne {
          width: 40%;
          height: fit-content;
        }
        .line-second {
          width: 40%;
          margin-top: 0;
          align-self: auto;
          height: fit-content;
        }
      }

      .star-main {
        .star-container {
          width: 1400px;
          height: 1400px;
          left: 50%;
          top: 0%;
          transform: translate(-50%);
        }
      }

      .men-container {
        .img-container {
          width: calc(100vw - 50vw);
          height: calc(100vw - 50vw);
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    .container {
      .headline {
        height: 90%;
        padding: 0 12vw;
        font-size: 5rem;
        flex-direction: row;
        align-items: center;

        .line-second {
          align-self: auto;
        }
      }

      .star-main {
        .star-container {
          width: 1200px;
          height: 1200px;
          top: 5%;
        }
      }

      .men-container {
        .img-container {
          width: calc(100vw - 65vw);
          height: calc(100vw - 65vw);
        }
      }
    }
  }
}
