//*---- imported custom fonts ---->

//*--- helvetica --->

@font-face {
  font-family: "Helvetica Now Display Bold";
  src: url("./helvetica/HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"),
    local("./helvetica/HelveticaNowDisplay-Bold"),
    url("./helvetica/HelveticaNowDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./helvetica/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("./helvetica/HelveticaNowDisplay-Bold.woff") format("woff"),
    url("./helvetica/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: url("./helvetica/HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"),
    local("./helvetica/HelveticaNowDisplay-Regular"),
    url("./helvetica/HelveticaNowDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./helvetica/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("./helvetica/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("./helvetica/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display Medium";
  src: url("./helvetica/HelveticaNowDisplay-Medium.eot");
  src: local("Helvetica Now Display Medium"),
    local("./helvetica/HelveticaNowDisplay-Medium"),
    url("./helvetica/HelveticaNowDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./helvetica/HelveticaNowDisplay-Medium.woff2") format("woff2"),
    url("./helvetica/HelveticaNowDisplay-Medium.woff") format("woff"),
    url("./helvetica/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display Light";
  src: url("./helvetica/HelveticaNowDisplay-Light.eot");
  src: local("Helvetica Now Display Medium"),
    local("./helvetica/HelveticaNowDisplay-Medium"),
    url("./helvetica//HelveticaNowDisplay-Light.eot")
      format("embedded-opentype"),
    url("./helvetica//HelveticaNowDisplay-Light.woff2") format("woff2"),
    url("./helvetica//HelveticaNowDisplay-Light.woff") format("woff"),
    url("./helvetica//HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

//*--- soriasoria --->

@font-face {
  font-family: "soriasoria";
  src: url("./soria/soria-font-webfont.eot");
  src: url("./soria/soria-font-webfont.eot") format("embedded-opentype"),
    url("./soria/soria-font-webfont.woff2") format("woff2"),
    url("./soria/soria-font-webfont.woff") format("woff"),
    url("./soria/soria-font-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//*--- cousine --->

@font-face {
  font-family: "cousineregular";
  src: url("./cousine/cousine-regular-webfont.woff2") format("woff2"),
    url("./cousine/cousine-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cousinebold";
  src: url("./cousine/cousine-bold-webfont.woff2") format("woff2"),
    url("./cousine/cousine-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//*---- font variables ---->

//*--- helvetica --->

$helvetica-regular: "Helvetica Now Display Regular", sans-serif;
$helvetica-medium: "Helvetica Now Display Medium", sans-serif;
$helvetica-bold: "Helvetica Now Display Bold", sans-serif;
$helvetica-light: "Helvetica Now Display Light", sans-serif;

//*--- soriasoria --->

$soria: "soriasoria", serif;

//*--- cousine --->

$cousine-regular: "cousineregular", monospace;
$cousine-bold: "cousinebold", monospace;

//*---- color variables ---->

$light: #f8f8fb;
$offLight: #f2f2f4;
$dark: #0c0c0c;
$offDark: #272729;

$blue: #4a99ff;
$pink: #eb6ba8;
$green: #1ce15f;
$yellow: #ece42e;
$red: #f42c04;
$purple: #593c8f;
$darkBlue: #0a369d;

$gradient: linear-gradient(45deg, #3d1ecb, #b945a6, #e2b66e);
