@use "../../app/scss/variables" as *;

#tools {
  height: 1000px;

  .skills {
    width: 100vw;
    padding: 100px 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    background-color: $dark;
  }

  h4 {
    font-family: $soria;
    font-weight: 100;
    font-size: 3.4rem;
    color: $darkBlue;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .rocket-container {
      width: 100%;
      position: relative;

      .img-container {
        position: absolute;
        inset: 0;
        width: 100%;
        aspect-ratio: 1/1;
        z-index: 0;

        img {
          transform: scale(1.4);
        }
      }

      ul {
        position: relative;
        z-index: 1;
        perspective: 1000px; /* Adjust the perspective value as needed */
        perspective-origin: right;

        li {
          font-size: 3.4rem;
          line-height: 1;
          transform: rotateY(-20deg);
          cursor: pointer;
          color: $light;
          transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1);

          &:hover {
            transition: color 300ms cubic-bezier(0.76, 0, 0.24, 1);
            color: $pink;
          }
        }
      }
    }

    .brush-container {
      width: 100%;
      position: relative;

      .img-container {
        position: absolute;
        inset: 0;
        width: 100%;
        aspect-ratio: 1/1;
        z-index: 0;

        img {
          transform: scale(1.4);
        }
      }

      ul {
        position: relative;
        z-index: 1;
        perspective: 600px; /* Adjust the perspective value as needed */
        perspective-origin: left;
        margin-left: 60px;

        li {
          font-size: 2rem;
          line-height: 1.1;
          text-transform: uppercase;
          transform: rotateY(20deg);
          cursor: pointer;
          transition: color 200ms cubic-bezier(0.76, 0, 0.24, 1);
          color: $light;

          &:hover {
            transition: color 300ms cubic-bezier(0.76, 0, 0.24, 1);
            color: $pink;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  #tools {
    gap: 80px;
    .skills {
      width: 100vw;
      padding: 100px 6vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      overflow: hidden;
      background-color: $dark;
    }

    h4 {
      font-size: 4rem;
    }

    .skills-container {
      width: 100%;
      height: 400px;
      flex-direction: row;
      justify-content: space-between;

      .rocket-container {
        .img-container {
          width: 90%;
        }

        ul {
          li {
            font-size: 4rem;
          }
        }
      }

      .brush-container {
        .img-container {
          width: 90%;
        }

        ul {
          margin-left: 20px;

          li {
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  #tools {
    gap: 80px;

    .skills {
      width: 100vw;
      padding: 100px 6vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      overflow: hidden;
      background-color: $dark;
    }
    h4 {
      font-size: 4rem;
    }

    .skills-container {
      padding: 0 100px;
      width: 100%;
      height: 400px;
      flex-direction: row;
      justify-content: center;

      .rocket-container {
        .img-container {
          width: 65%;
        }

        ul {
          li {
            font-size: 3.6rem;
          }
        }
      }

      .brush-container {
        .img-container {
          width: 65%;
          overflow: hidden;
          inset: auto;
          right: 0;
        }

        ul {
          margin-left: auto;
          width: max-content;

          li {
            width: 360px;
            font-size: 2.45rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #tools {
    height: 1000px;

    .skills {
      gap: 80px;
      margin: 0;
      padding: 0 6vw;
      justify-content: center;
    }

    h4 {
      font-size: 8rem;
    }

    .skills-container {
      padding: 0 100px;
      width: 100%;
      height: 400px;
      flex-direction: row;
      justify-content: center;
      gap: 80px;

      .rocket-container {
        .img-container {
          width: 65%;

          inset: auto;
          right: 0;
        }

        ul {
          margin-left: 100px;
          li {
            width: 260px;
            font-size: 3.6rem;
          }
        }
      }

      .brush-container {
        .img-container {
          width: 65%;
          overflow: visible;
          inset: auto;
          left: 0;
        }

        ul {
          margin-left: 100px;
          width: max-content;

          li {
            width: 360px;
            font-size: 2.45rem;
          }
        }
      }
    }
  }
}
