@use "../../scss/variables" as *;

.portfolio-nav-container {
  width: 100vw;

  border-top: 1px solid $dark;
  border-bottom: 1px solid $dark;
  padding: 10px 6vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
      color: $dark;
      line-height: 1;
      font-size: 0.8rem;
    }

    svg {
      color: $darkBlue;
    }
  }

  #pageSelect {
    background: none;
    border: 1px solid $dark;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio-nav-container {
    width: 100vw;

    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    padding: 10px 8vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      h3 {
        color: $dark;
        font-size: 1.2rem;
      }

      svg {
        color: $darkBlue;
      }
    }

    #pageSelect {
      background: none;
      border: 1px solid $dark;
      padding: 5px 10px;
    }
  }
}
