@use "../../app/scss/variables" as *;

#hero {
  max-width: 100vw;
  height: calc(100vh - 60px);
  padding: 0 6vw;

  .star-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    overflow: hidden;
    z-index: 0;

    .img-container {
      position: absolute;
      width: 1600px;
      height: 1600px;
      bottom: 160px;
      left: -360px;

      img {
        animation: rotate 80s linear infinite forwards;

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .hero-title-container {
    position: relative;
    z-index: 1;
    padding: 14vh 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 4.2rem;
      font-family: $soria;
      font-weight: 100;
      line-height: 1;

      span {
        color: $pink;
      }
    }

    .text-highlight {
      text-align: right;
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  #hero {
    height: calc(100vh - 80px);
    .star-container {
      .img-container {
        bottom: 320px;
        left: 6px;
      }
    }

    .hero-title-container {
      h3 {
        font-size: 6rem;
        max-width: 400px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  #hero {
    height: calc(100vh - 80px);
    .star-container {
      .img-container {
        bottom: 120px;
        left: 160px;
      }
    }

    .hero-title-container {
      h3 {
        font-size: 6rem;
        max-width: 400px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #hero {
    height: calc(100vh - 100px);

    .star-container {
      .img-container {
        bottom: -60px;
        left: 640px;
      }
    }

    .hero-title-container {
      justify-content: center;
      position: absolute;
      inset: 0;

      padding: 0;

      .text-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 6vw;
      }

      h3 {
        margin-top: 50px;
        font-size: 8rem;
        max-width: 500px;
        text-transform: capitalize;

        span {
          color: $dark;
        }
      }

      .text-highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 6vw;
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
        mask-image: url(../../public/assets/svg/mask.svg);
        background-color: $red;
        mask-repeat: no-repeat;
        mask-size: 20px;
      }
    }
  }
}
