@use "@/app/scss/variables" as *;

#hero {
  max-width: 100vw;
  height: calc(100vh - 20px - 4rem);

  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  overflow: hidden;

  .hero-title {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    padding: 40px 6vw;

    h2 {
      font-family: $helvetica-light;
      font-weight: 100;
      font-style: normal;
      font-size: 2rem;

      &:nth-of-type(2) {
        align-self: flex-end;
        text-align: end;
      }
    }
  }

  .text-highlight {
    display: none;
  }

  .bg-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    svg {
      position: absolute;
      $half: -250px;
      //opacity: 0.75;
      $size: 500px;
      width: $size;
      height: $size;

      &:nth-of-type(1) {
        fill: $pink;
        right: $half;
        top: $half;
        animation: rotateOne 50s linear infinite forwards;
      }

      &:nth-of-type(2) {
        fill: $orange;
        left: $half;
        bottom: $half;
        animation: rotateOne 50s linear infinite forwards;
      }
    }
  }

  @keyframes rotateOne {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #hero {
    .bg-container {
      svg {
        $half: -300px;
        $size: 600px;
        width: $size;
        height: $size;

        &:nth-of-type(1) {
          right: $half;
          top: $half;
        }

        &:nth-of-type(2) {
          left: $half;
          bottom: $half;
        }
      }
    }
  }
}

//*---------->> Mobile

@media screen and (min-width: 1024px) {
  #hero {
    position: relative;
    height: calc(100vh - 40px - 6rem);

    .hero-title {
      z-index: 2;
      justify-content: center;

      h2 {
        font-size: 8rem;

        &:nth-of-type(2) {
          display: none;
        }
      }
    }

    .text-highlight {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 6vw;

      mask-image: url(../../public/assets/svg/mask.svg);
      background-color: $red;
      mask-repeat: no-repeat;
      mask-size: 20px;

      h2 {
        width: fit-content;
        font-family: $helvetica-light;
        font-weight: 100;
        font-style: normal;
        font-size: 8rem;
      }
    }
    .bg-container {
      svg {
        $half: -300px;
        $size: 600px;
        width: $size;
        height: $size;

        &:nth-of-type(1) {
          right: -400px;
          top: -400px;
          width: 800px;
          height: 800px;
        }

        &:nth-of-type(2) {
          left: $half;
          bottom: $half;
        }
      }
    }
  }
}
