@use "@/app/scss/variables" as *;

header {
  position: relative;
  max-width: 100vw;
  padding: 10px 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light;
  z-index: 999;
  background-color: $dark;

  svg {
    font-family: $helvetica-bold;
    font-weight: 100;
    font-style: normal;
    font-size: 1.4rem;
    color: $yellow;

    &:nth-of-type(2) {
      font-size: 2rem;
    }
  }

  h2 {
    color: $light;
    font-family: $outward;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 1px;
    transition: color 300ms ease-in-out;

    &:hover {
      transition: color 200ms ease-in-out;
      color: $green;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 20px 6vw;

    h2 {
      font-size: 6rem;
    }
  }
}
