@use "../../app/scss/variables" as *;

#contact {
  max-width: 100vw;
  min-height: 100vh;
  padding: 50px 6vw;

  .video-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    video {
      width: 100%;
      aspect-ratio: 1/1;
    }

    h4 {
      font-family: $soria;
      font-weight: 100;
      font-size: 5rem;
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translateX(-50%);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .field {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      z-index: 1;

      label {
        font-family: $helvetica-light;
        font-size: 0.8rem;
      }

      input {
        height: 40px;
        font-family: $helvetica-regular;
        background: none;
        border: 1px solid $light;
        padding: 10px;
        color: $light;
        font-size: 0.8rem;
      }

      textarea {
        height: 100px;
        font-family: $helvetica-regular;
        background: none;
        padding: 10px;
        border: 1px solid $light;
        color: $light;
        font-size: 0.8rem;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      transition: background-color 300ms ease-in-out;

      button {
        min-width: 140px;
        height: 40px;
        margin-left: auto;
        width: max-content;
        background-color: $offDark;
        border: none;
        color: $offLight;
        font-family: $helvetica-light;
        cursor: pointer;

        p {
          position: relative;
          z-index: 1;
        }

        .loading-animation {
          display: flex;
          gap: 10px;
          display: flex;
          justify-content: center;
          justify-content: center;

          .dot {
            width: 10px;
            height: 10px;

            background-color: $yellow;
            border-radius: 100px;
          }
        }

        &:hover {
          transition: background-color 300ms ease-in-out;
          background-color: $darkBlue;
        }
      }
    }

    .loading-button {
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  #contact {
    min-height: 500px;
    display: flex;
    align-items: center;
    gap: 50px;

    .video-container {
      margin-top: -100px;
      width: 50%;
    }

    form {
      width: 40%;
      gap: 15px;

      .field {
        gap: 5px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  #contact {
    min-height: 800px;
    display: flex;
    align-items: center;
    gap: 50px;

    .video-container {
      width: 40%;
    }

    form {
      width: 40%;
      gap: 15px;

      .field {
        gap: 5px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    .video-container {
      width: 30%;
    }

    form {
      width: 30%;
      gap: 15px;

      .field {
        gap: 5px;

        textarea {
          height: 100px;
        }

        input,
        textarea {
          &:focus {
            outline: none;
            border: 1px solid $blue;
          }
        }
      }
    }
  }
}
