@use "@/app/scss/variables" as *;

#bio {
  max-width: 100vw;
  height: 100vh;
  background-color: $darkBlue;
  padding: 0 6vw;
  display: flex;
  align-items: center;

  p {
    font-family: $helvetica-light;
    font-size: 3rem;
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #bio {
    height: 50vh;
  }
}

//*---------->> desktop

@media screen and (min-width: 1024px) {
  #bio {
    height: 100vh;

    p {
      font-size: 5rem;
    }
  }
}
