@use "@/app/scss/variables" as *;

#apiProjects {
  width: 100vw;
  padding: 150px 6vw;
  position: relative;

  .card-conatiner {
    position: relative;
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    .card {
      border-radius: 20px;
      background-color: hsla(223, 85%, 10%, 0.5);
      backdrop-filter: blur(40px);
      box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.125);
      outline-offset: 2px;
      overflow: hidden;

      &:hover {
        transition: background-color 200ms ease-in-out;
        background-color: hsla(222, 84%, 22%, 0.08);
      }

      .img-container {
        width: 100%;
        height: 180px;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          object-fit: cover;
          z-index: 1;
        }

        .img-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          background-color: hsla(223, 85%, 10%, 0.75);

          z-index: 2;
        }
      }

      .text-container {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

        h3 {
          font-family: $helvetica-regular;
          font-size: 1rem;
        }

        p {
          font-family: $helvetica-light;
          font-size: 0.9rem;
        }

        a {
          width: fit-content;
          height: min-content;
          font-size: 0.8rem;
          padding: 5px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $darkBlue;

          border-radius: 20px;
          box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.125);
          cursor: pointer;
          transition: all 300ms ease-in-out;
          color: $light;

          &:hover {
            transition: all 200ms ease-in-out;
            background-color: $green;
            color: $dark;
          }
        }
      }
    }
  }

  .video-player {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;

    video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      filter: hue-rotate(280deg);
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: rgba(27, 2, 32, 0.75);
      backdrop-filter: blur(15px);
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #apiProjects {
    .card-conatiner {
      grid-template-columns: 1fr 1fr;
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1024px) {
  #apiProjects {
    .card-conatiner {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
