@use "@/app/scss/variables" as *;

#apiProjects {
  width: 100vw;
  padding: 150px 6vw;
  position: relative;

  .card-conatiner {
    position: relative;
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .video-player {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;

    video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      filter: hue-rotate(280deg);
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: rgba(27, 2, 32, 0.75);
      backdrop-filter: blur(15px);
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #apiProjects {
    .card-conatiner {
      grid-template-columns: 1fr 1fr;
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1024px) {
  #apiProjects {
    .card-conatiner {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
