@use "@/app/scss/variables" as *;

#wikiword {
  width: 100vw;
  min-height: 100vh;
  padding: 0 6vw;

  .loading-container {
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;

    .loading {
      width: 30px;
      height: 30px;
      animation: rotate 1s linear infinite;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  h2 {
    text-align: center;
    padding: 20px 0 0 0;
  }

  form {
    width: 100%;
    padding: 20px 0;
    position: relative;

    input {
      width: 100%;
      height: 40px;
      background-color: $light;
      border: none;
      border-radius: 500px;
      padding: 0 50px 0 20px;
      outline: none;
      font-family: $helvetica-regular;
      letter-spacing: 1px;

      &::placeholder {
        font-family: $helvetica-regular;
        color: $offDark;
      }
    }

    button {
      position: absolute;
      right: 2.5px;
      top: 22.5px;
      border-radius: 500px;
      height: 35px;
      width: 35px;
      display: grid;
      place-items: center;
      background-color: $green;
      border: none;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $dark;

        svg {
          color: $light;
        }
      }

      .loading {
        animation: rotate 1s linear infinite;
        width: 15px;
        height: 15px;
      }
    }
  }

  .data-container {
    padding: 20px 0 40px 0;

    .word-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 2.2rem;
          text-transform: capitalize;
        }

        button {
          background-color: $pink;
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 100px;
          display: grid;
          place-items: center;

          &:hover {
            background-color: $darkBlue;
          }
        }
      }
    }

    .phonetic {
      font-size: 1.4rem;
      color: $pink;
    }

    .data {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;

      .card {
        background-color: $offDark;
        border-radius: 20px;
        padding: 20px;
      }

      .partOfSpeech {
        font-style: italic;
        font-family: $helvetica-bold;
      }

      .meaning {
        color: rgb(130, 130, 130);
        padding: 10px 0 12px 0;
      }

      .meanind-data {
        font-size: 1.2rem;
      }

      .symonym {
        padding-top: 5px;
        color: rgb(130, 130, 130);
      }
    }

    .source-link {
      margin-top: 50px;
      color: rgb(130, 130, 130);
      font-size: 0.8rem;

      a {
        color: $darkBlue;
      }
    }
  }

  .not-found {
    font-size: 1.2rem;
    text-align: center;

    p {
      padding: 5px 0;
    }
  }

  .ifSahil {
    padding: 20px 0 40px 0;

    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 2.2rem;
        text-transform: capitalize;
      }

      button {
        background-color: $pink;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        display: grid;
        place-items: center;

        &:hover {
          background-color: $darkBlue;
        }
      }
    }
    .phonetic {
      font-size: 1.4rem;
      color: $pink;
      margin-bottom: 20px;
    }

    .data {
      background-color: $offDark;
      border-radius: 20px;
      padding: 20px;
      margin: 20px 0;

      .meaning {
        color: rgb(130, 130, 130);
        padding: 10px 0 12px 0;
      }

      .partOfSpeech {
        padding: 40px 0 0 0;
        font-style: italic;
        font-family: $helvetica-bold;
      }
    }

    .source-link {
      margin-top: 50px;
      color: rgb(130, 130, 130);
      font-size: 0.8rem;

      a {
        color: $darkBlue;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #wikiword {
    form {
      input {
        height: 50px;
        font-size: 1rem;
      }

      button {
        height: 45px;
        width: 45px;
      }
    }
    .data-container {
      .word-container {
        .text {
          h3 {
            font-size: 4rem;
          }

          button {
            width: 40px;
            height: 40px;
          }
        }
      }

      .data {
        .partOfSpeech {
          font-size: 1.4rem;
        }

        .meanind-data {
          font-size: 1.4rem;
        }
      }
    }

    .ifSahil {
      .text {
        h3 {
          font-size: 4rem;
        }

        button {
          width: 40px;
          height: 40px;
        }
      }

      .data {
        .partOfSpeech {
          font-size: 1.4rem;
        }

        .meanind-data {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #wikiword {
    padding: 0 26vw;
  }
}
