@use "@/app/scss/variables" as *;

#magazineHero {
  background-color: $light;

  width: 100vw;
  //height: 100vh;
  padding: 0 4vw;

  color: $textDark;

  .title-text {
    padding: 60px 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      text-transform: uppercase;
      font-family: $helvetica-light;
      font-size: 2rem;
    }

    p {
      width: 50%;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }

  .brands-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding-bottom: 40px;

    .brand-card {
      &:hover {
        .card {
          .img-container {
            border-radius: 2000px;
            transition: border-radius 400ms cubic-bezier(0.76, 0, 0.24, 1);
          }
        }
      }
      .card {
        width: 100%;
        color: $dark;

        .img-container {
          position: relative;
          width: 100%;
          aspect-ratio: 4/5;
          overflow: hidden;
          transition: border-radius 200ms cubic-bezier(0.76, 0, 0.24, 1);

          img {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        .line {
          margin: 20px 0;
          width: 100%;
          height: 1px;
          background-color: $dark;
        }

        .text-container {
          display: flex;
          justify-content: space-between;
          font-size: 0.8rem;

          p:nth-of-type(1) {
            width: 70%;
          }
        }

        .brand-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          h3 {
            font-family: $helvetica-light;
          }

          button {
            border: none;
            cursor: pointer;
            border-bottom: 1px solid $dark;
            background: none;
            transition: all 100ms cubic-bezier(0.76, 0, 0.24, 1);
          }
        }
      }
      .srno {
        display: none;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #magazineHero {
    padding: 0 2vw;

    .title-text {
      width: 90%;
      h2 {
        font-size: 3rem;
      }

      p {
        width: 20%;
      }
    }

    .brands-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2vw;

      .brand-card {
        width: 100%;
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #magazineHero {
    .title-text {
      width: 90%;
      h2 {
        font-size: 5.4rem;
        font-family: $helvetica-regular;
        line-height: 1;
      }

      p {
        width: 10%;
      }
    }

    .brands-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 2vw;
      padding-bottom: 80px;

      .brand-card {
        .card {
          .brand-title {
            h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
