@use "../../app/scss/variables" as *;

#about {
  max-width: 100vw;
  height: auto;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px 0;

    h4 {
      font-family: $soria;
      font-weight: 100;
      font-size: 3.4rem;
    }
  }

  .info-container {
    width: 100vw;
    height: 150vh;
    overflow: hidden;
    display: flex;
    //justify-content: center;
    flex-direction: column;
    position: relative;

    .image-main {
      height: 100vh;

      .img-container {
        position: relative;
        height: 50vh;

        img {
          object-fit: cover;
          opacity: 0.25;
          z-index: 0;
          mix-blend-mode: difference;
        }
      }
    }

    .hello-container {
      width: 100vw;
      padding: 0 6vw;
      position: relative;
      z-index: 1;

      font-size: 3rem;
      line-height: 1.1;
      font-family: $helvetica-light;

      .hello {
        font-family: $soria;
        font-weight: 100;
      }

      .pink {
        color: $pink;
      }
    }

    .designer-container {
      width: 100vw;
      padding: 0 6vw;
      position: relative;
      z-index: 1;
      margin-top: 10px;
      font-size: 2.8rem;
      line-height: 1.1;
      font-family: $helvetica-light;

      .yellow {
        color: $yellow;
      }
    }

    .marquee-container {
      position: absolute;
      bottom: 20px;

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
  #about {
    .info-container {
      .hello-container {
        font-size: 5rem;
      }

      .designer-container {
        font-size: 4rem;
      }

      .marquee-container {
        bottom: 50px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {
  #about {
    .info-container {
      .hello-container {
        font-size: 5rem;
      }

      .designer-container {
        font-size: 4rem;
      }

      .marquee-container {
        bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #about {
    .info-container {
      .hello-container {
        margin-top: -100px;
      }

      .marquee-container {
        bottom: 50px;
        p {
          font-size: 3rem;
          font-family: $helvetica-light;
        }
      }
    }
  }
}
