@use "@/app/scss/variables" as *;

#about {
  max-width: 100vw;
  height: 100vh;

  .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .text-container {
      width: 100%;
      position: absolute;
      padding: 20px 0;
      bottom: 0;
      left: 0;
      padding: 20px 6vw;

      h3,
      h4 {
        position: relative;
        z-index: 1;
      }

      h3 {
        font-size: 2rem;
        font-family: $helvetica-light;

        span {
          color: $pink;

          &:nth-of-type(2) {
            line-height: auto;
            color: $yellow;
          }
        }
      }

      h4 {
        font-family: $helvetica-light;
        font-size: 1.5rem;
        padding: 5px 0;
        margin-bottom: 10px;

        span {
          color: $yellow;
        }
      }
      .rfm-child {
        p {
          margin: 0 2.5px;
        }
      }

      .text-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(0deg, $dark, transparent);
        width: 100%;
        height: 500px;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #about {
    .img-container {
      .text-container {
        h3 {
          font-size: 3.5rem;
        }

        h4 {
          font-size: 3rem;
        }

        .rfm-child {
          font-size: 2rem;
          margin: 10px 0;
        }

        .text-bg {
          height: 800px;
        }
      }
    }
  }
}

//*---------->> Mobile

@media screen and (min-width: 1024px) {
  #about {
    .img-container {
      .text-container {
        h3 {
          font-size: 3rem;
        }

        h4 {
          font-size: 2.5rem;
          margin-left: 100%;
          width: max-content;
          transform: translateX(-100%);
        }
        .rfm-child {
          font-size: 1.5rem;
        }
      }
    }
  }
}
